.header {
  background: linear-gradient(180deg, #267cdf 0%, rgba(44, 53, 109, 0) 100%);
  position: relative;
  z-index: 10;
  & .container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &-top {
    padding: 14px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    & .btn-black {
      padding: 15px 60px;
    }
  }
  &-contacts {
    display: none;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    @media (min-width: 1200px) {
      display: flex;
    }
    &-btn {
      display: none;
      @media (min-width: 1200px) {
        display: block;
      }
    }
  }
  &-address {
    display: flex;
    align-items: center;
    color: #ffffff;
    column-gap: 9px;
    text-decoration: none !important;
    & i {
      font-size: 28px;
    }
    & span {
      border-bottom: 1px dashed #ffffff;
      white-space: nowrap;
      text-decoration: none !important;
    }
    &:hover {
      & span {
        border-bottom: unset;
      }
    }
  }
  &-phone {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    column-gap: 9px;
    text-decoration: none;
    & i {
      font-size: 28px;
    }
    & span {
      line-height: 1.25;
      white-space: nowrap;
      text-decoration: none;
    }
    &:hover {
      span {
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
  }
  &-logo {
    position: relative;
    display: block;
    width: max-content;
    background-color: unset;
    margin-left: 73px;
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    transform: translate(0, 0);
    transition: 0.4s ease;
    @media (min-width: 1200px) {
      margin-left: 103px;
    }
    & div {
      &:last-of-type {
        display: block;
        text-transform: uppercase;
        @media (min-width: 720px) {
          font-size: 40px;
        }
        @media (min-width: 1200px) {
          font-size: 48px;
        }
      }
    }
    & img {
      position: absolute;
      top: -11px;
      left: -75px;
      @media (min-width: 720px) {
        width: 41px;
        height: 115px;
      }
      @media (min-width: 1200px) {
        width: 55px;
        height: 154px;
      }
    }
    &.scroll {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
      width: 63px;
      height: 63px;
      background: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0;
      border-radius: 0 10px 10px 0;
      transform: translate(0, 28px);
      transition: all 0.4s ease, 0.2s background 0.2s ease;
      & div {
        display: none;
      }
      & img {
        position: static;
        width: 34px;
        height: 97px;
      }
    }
  }
  &-modal-btn {
    position: fixed;
    top: 28px;
    right: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 63px;
    font-size: 38px;
    line-height: 1;
    letter-spacing: -0.02em;
    background: var(--blue);
    border: none;
    border-radius: 10px 0 0 10px;
    transform: translate(100%, 0);
    transition: 0.4s ease;
    cursor: pointer;
    &:hover {
      background-color: #ffffff;
      & i {
        color: var(--blue);
      }
    }
    &.scroll {
      display: flex;
      transform: translate(0, 0);
    }
    & i {
      color: #ffffff;
    }
    @media screen and (max-width: 1199.98px) {
      display: none !important;
    }
  }
}
