.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: linear-gradient(180deg, #267cdf 0%, rgba(44, 53, 109, 0) 100%);
  @media (min-width: 1200px) {
    position: relative;
  }
  & .container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  &-top {
    padding: 14px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    & .btn-black {
      padding: 15px 60px;
    }
  }
  &-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 13px;
    @media (min-width: 720px) and (max-width: 1199.98px) {
      & .header-phone {
        order: 0;
      }
      & .header-contacts-btn {
        order: 1;
      }
      & .header-burger {
        order: 2;
      }
    }
    @media (min-width: 1200px) {
      column-gap: 16px;
    }
    &-btn {
      display: none;
      white-space: nowrap;
      @media (min-width: 720px) {
        display: inline-block;
      }
    }
  }
  &-address {
    display: none;
    align-items: center;
    color: #ffffff;
    column-gap: 9px;
    text-decoration: none !important;
    @media (min-width: 1200px) {
      display: flex;
    }
    & i {
      font-size: 28px;
    }
    & span {
      border-bottom: 1px dashed #ffffff;
      white-space: nowrap;
      text-decoration: none !important;
    }
    &:hover {
      & span {
        border-bottom: unset;
      }
    }
  }
  &-phone {
    display: flex;
    align-items: center;
    color: #585a60;
    font-size: 32px;
    font-weight: bold;
    column-gap: 9px;
    padding: 10px;
    text-decoration: none;
    transition: 0.4s ease;
    // mobile adaptation
    @media screen and (max-width: 1199.98px) {
      background-color: #ffffff;
      border-radius: 10px;
      &:hover {
        background-color: #585a60;
        border-color: #585a60;
        color: #ffffff;
      }
      &:focus:active {
        background-color: rgba(88, 90, 96, 0.4);
        border-color: rgba(88, 90, 96, 0.4);
        color: rgba(255, 255, 255, 0.85);
      }
    }
    @media (min-width: 720px) {
      padding: 13px;
    }
    @media (min-width: 1200px) {
      padding: unset;
      color: #ffffff;
    }
    & i {
      font-size: 30px;
      @media (min-width: 720px) {
        font-size: 28px;
      }
    }
    & span {
      display: none;
      line-height: 1.25;
      white-space: nowrap;
      text-decoration: none;
      @media (min-width: 1200px) {
        display: inline;
      }
    }
    &:hover {
      span {
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
  }
  &-burger {
    appearance: none;
    display: inline;
    background-color: #ffffff;
    color: #585a60;
    font-size: 26.1px;
    font-weight: bold;
    line-height: 1;
    // padding: 11.45px 11.45px 12.45px;
    padding: 12.45px 12px 12.45px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s ease;
    @media (min-width: 720px) {
      padding: 12.7px 11px 11.7px;
      font-size: 30.6px;
    }
    &:hover {
      background-color: #585a60;
      border-color: #585a60;
      color: #ffffff;
    }
    &:focus:active {
      background-color: rgba(88, 90, 96, 0.4);
      border-color: rgba(88, 90, 96, 0.4);
      color: rgba(255, 255, 255, 0.85);
    }
    & i {
      display: flex;
    }
    @media (min-width: 1200px) {
      display: none;
    }
  }
  &-logo {
    position: relative;
    display: block;
    width: max-content;
    background-color: #ffffff;
    border-radius: 10px;
    padding-left: 52px;
    padding-right: 28px;
    padding-bottom: 3px;
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
    transform: translate(0, 0);
    transition: 0.4s ease;
    @media (min-width: 720px) {
      background-color: unset;
      padding: unset;
      margin-left: 54px;
    }
    @media (min-width: 1200px) {
      margin-left: 55px;
    }
    @media (min-width: 1400px) {
      margin-left: 103px;
    }
    & div {
      line-height: 1;
      color: var(--blue);
      @media (min-width: 720px) {
        color: #ffffff;
      }
      &:last-of-type {
        display: block;
        font-size: 30px;
        text-transform: uppercase;
        @media (min-width: 720px) {
          font-size: 40px;
        }
        @media (min-width: 1200px) {
          font-size: 48px;
        }
      }
    }
    & img {
      position: absolute;
      top: -11px;
      left: 12.41px;
      width: 30.59px;
      height: 85.86px;
      @media (min-width: 720px) {
        top: -11px;
        left: -54px;
        width: 41px;
        height: 115px;
      }
      @media (min-width: 1200px) {
        top: -11px;
        left: -60px;
        width: 55px;
        height: 154px;
      }
      @media (min-width: 1400px) {
        left: -75px;
      }
    }
    &.scroll {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
      width: 63px;
      height: 63px;
      background: #ffffff;
      box-shadow: 0px 0px 11.9px rgba(34, 68, 105, 0.63);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 0;
      border-radius: 0 10px 10px 0;
      transform: translate(0, 28px);
      transition: all 0.4s ease, 0.2s background 0.2s ease;
      & div {
        display: none;
      }
      & img {
        position: static;
        width: 34px;
        height: 97px;
      }
    }
  }
  &-modal-btn {
    position: fixed;
    top: 28px;
    right: 0;
    z-index: 25;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
    column-gap: 24px;
    // width: 63px;
    width: fit-content;
    height: 63px;
    padding: 0 12px;
    background: var(--blue);
    line-height: 1;
    letter-spacing: -0.02em;
    color: #ffffff;
    border: none;
    border-radius: 10px 0 0 10px;
    transform: translate(100%, 0);
    transition: 0.4s ease;
    cursor: pointer;
    &:hover {
      background-color: #ffffff;
      color: var(--blue);
      transform: translate(0, 0);
    }
    &.scroll {
      display: flex;
      box-shadow: 0px 0px 11.9px rgba(34, 68, 105, 0.63);
      transform: translate(calc(100% - 63px), 0);
      &:hover {
        transform: translate(0, 0);
      }
    }
    & i {
      font-size: 38px;
    }
    @media screen and (max-width: 1199.98px) {
      display: none !important;
    }
  }
}
