.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-shadow: unset;
  overflow: hidden;
  overflow-y: auto;
  visibility: visible;
  display: flex;
  flex-direction: column;
  transform: translate(0, -100%);
  padding: 16px 24px;
  background-color: #ffffff;
  transition: 0.4s ease;
  @media (min-width: 1200px) {
    position: unset;
    z-index: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    height: unset;
    max-width: 1600px;
    color: var(--black);
    padding: 0 70px;
    margin: auto;
    border-radius: 10px;
    overflow: visible;
    transform: translate(0, 0);
  }
  & a {
    transition: 0.4s ease;
  }
  &-link {
    display: flex;
    width: 100%;
    padding: 16px;
    font-weight: 300;
    font-size: 16px;
    color: var(--black);
    text-decoration: none;
    white-space: nowrap;
    @media (min-width: 720px) {
      font-size: 18px;
      font-weight: 400;
    }
    @media (min-width: 1200px) {
      font-size: 20px;
      padding: 20px;
      text-align: center;
      justify-content: center;
    }
    @media (min-width: 1200px) {
      &:hover {
        background-color: rgba(var(--blue-rgb), 0.3);
      }
    }
    &.active {
      color: var(--bullets);
    }
    &.hidden {
      display: block;
      @media (min-width: 1200px) {
        display: none;
      }
    }
  }
  &-dropdown {
    position: relative;
    @media screen and (max-width: 1199.98px) {
      & .menu-list {
        display: flex;
        padding: 0 16px;
      }
    }
    @media (min-width: 1200px) {
      &:hover {
        & .menu-list {
          display: flex;
        }
      }
    }
    & > .menu-link {
      & i {
        display: flex;
        padding-left: 8px;
        &::before {
          font-size: 100%;
          line-height: 1.25;
        }
      }
    }
  }
  &-list {
    flex-direction: column;
    row-gap: 6px;
    border-radius: 5px;
    padding: 20px 10px;
    background: #fff;
    transition: all 0.3s;
    display: none;
    @media (min-width: 1200px) {
      width: max-content;
      position: absolute;
      top: 50px;
      box-shadow: 0 0 12px 0 rgba(34, 68, 105, 0.63);
    }
    & a {
      font-weight: 300;
      color: var(--black);
      padding: 16px;
      text-decoration: none;
      @media (min-width: 1200px) {
        font-weight: 400;
        padding: 4px 10px;
        border-radius: 5px;

        &:hover {
          background-color: rgba(var(--blue-rgb), 0.3);
        }
      }
      &.active {
        color: var(--bullets);
      }
    }
  }
  &.scroll {
    position: fixed;
    top: 27px;
    left: 80px;
    right: 80px;
    z-index: 15;
    max-width: 1600px;
    width: auto;
    margin: auto;
    box-shadow: 0px 0px 11.9px rgba(34, 68, 105, 0.63);
  }
  &-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    @media (min-width: 720px) {
      gap: 13px;
      margin-bottom: 36px;
    }
    @media (min-width: 1200px) {
      display: none;
    }
  }
  &-show {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: unset;
    overflow: hidden;
    overflow-y: auto;
    visibility: visible;
    transform: translate(0, 0);
  }
  &-btn {
    border-radius: 10px;
    &:nth-child(1),
    &:nth-child(2) {
      background-color: var(--blue);
      color: #ffffff;
      border: 2px solid var(--blue);
      &:hover {
        background-color: #585a60;
        border-color: var(--blue);
        color: #ffffff;
      }
      &:focus:active {
        background-color: rgba(var(--blue-rgb), 0.4);
        border-color: rgba(var(--blue-rgb), 0.4);
        color: rgba(255, 255, 255, 0.85);
      }
    }
    &:nth-child(1) {
      font-size: 28px;
      padding: 13px 14px;
      & i {
        display: flex;
      }
    }
    &:nth-child(2) {
      flex: 1 0 auto;
      font-size: 14px;
      line-height: 17.5px;
      padding: 18.5px 17px;
    }
    &:nth-child(3) {
      background-color: transparent;
      font-size: 28px;
      line-height: 1;
      color: var(--blue);
      border-color: var(--blue);
      border-width: 2px;
      padding: 13px;
      &:hover {
        background-color: var(--blue);
        border-color: var(--blue);
        color: #ffffff;
      }
      &:focus:active {
        background-color: rgba(var(--blue-rgb), 0.4);
        border-color: rgba(var(--blue-rgb), 0.4);
        color: rgba(255, 255, 255, 0.85);
      }
    }
  }
}
