:root {
  --blue: #267cdf;
  --blue-rgb: 38, 124, 223;
  --grey: #e2dede;
  --grey-dark: #7f8186;
  --black: #585a60;

  --container-padding: 10px;
}

// stretched-link
.stretched-link {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

h1 {
}

// container options
.container {
  max-width: 100%;
  width: 100%;
  padding-right: calc(var(--container-padding) / 2);
  padding-left: calc(var(--container-padding) / 2);
  margin: 0 auto;
  @media (min-width: 720px) {
    max-width: calc(43.75rem + var(--container-padding));
  }
  @media (min-width: 992px) {
    max-width: calc(57rem + var(--container-padding));
  }
  @media (min-width: 1200px) {
    max-width: calc(70rem + var(--container-padding));
  }
  @media (min-width: 1400px) {
    max-width: calc(80rem + var(--container-padding));
  }
  @media (min-width: 1600px) {
    max-width: calc(100rem + var(--container-padding));
  }
}

// components
.btn {
  display: inline-block;
  padding: 15px 40px;
  font-size: 20px;
  font-weight: normal;
  line-height: 120%;
  color: var(--black);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  text-transform: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
  transition: 0.4s ease;
  &-white {
    background-color: #ffffff;
    &:hover {
      background-color: var(--blue);
      border-color: var(--blue);
      color: #ffffff;
    }
    &:focus:active {
      background-color: rgba(var(--blue-rgb), 0.4);
      border-color: rgba(var(--blue-rgb), 0.4);
      color: rgba(255, 255, 255, 0.85);
    }
  }
  &-blue {
    background-color: var(--blue);
    &:hover {
      background-color: var(--black);
      border-color: var(--black);
      color: #ffffff;
    }
    &:focus:active {
      background-color: rgba(var(--blue-rgb), 0.4);
      border-color: rgba(var(--blue-rgb), 0.4);
      color: rgba(255, 255, 255, 0.85);
    }
  }
  &-outline {
    &-primary {
      background-color: transparent;
      color: var(--blue);
      border: 1px solid var(--blue);
      &:hover {
        background-color: var(--blue);
        border-color: var(--blue);
        color: #ffffff;
      }
      &:focus:active {
        background-color: rgba(var(--blue-rgb), 0.4);
        border-color: rgba(var(--blue-rgb), 0.4);
        color: rgba(255, 255, 255, 0.85);
      }
    }
  }
}
