:root {
  --font-family: 'Geologica';
  --blue: #267cdf;
  --blue-rgb: 38, 124, 223;
  --blue-light: #0073fa;
  --blue-dark: #2c356d;
  --blue-sky: #eef5fe;
  --bullets: #1176ea;
  --white: #ffffff;
  --grey: #e2dede;
  --grey-dark: #7f8186;
  --black: #585a60;

  --container-padding: 10px;
}
