:root {
  --blue: #267cdf;
  --blue-rgb: 38, 124, 223;
  --grey: #e2dede;
  --grey-dark: #7f8186;
  --black: #585a60;

  --container-padding: 10px;
}

// stretched-link
.stretched-link {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

// H1 48->30; H2 32-24, H3 24->20; p.big16->15; p14->13; p.small 13->12

h1 {
  font-size: 30px;
  @media (min-width: 1200px) {
    font-size: 48px;
  }
}

h2 {
  font-size: 24px;
  @media (min-width: 1200px) {
    font-size: 32px;
  }
}

h3 {
  font-size: 20px;
  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

p {
  font-size: 15px;
  @media (min-width: 1200px) {
    font-size: 16px;
  }
}

p.small {
  font-size: 13px;
  @media (min-width: 1200px) {
    font-size: 14px;
  }
}

p.smaller {
  font-size: 12px;
  @media (min-width: 1200px) {
    font-size: 13px;
  }
}

.section-title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--blue);
  text-align: center;
  @media (min-width: 720px) {
    font-size: 32px;
    line-height: 40px;
  }
  @media (min-width: 1200px) {
    font-size: 42px;
    line-height: 52.5px;
  }
}

// container options
.container {
  max-width: 100%;
  width: 100%;
  padding: 0 12px;
  margin: 0 auto;
  // remove old values for container
  // @media (min-width: 720px) {
  //   max-width: 700px;
  // }
  // @media (min-width: 992px) {
  //   max-width: 968px;
  // }
  @media (min-width: 1200px) {
    max-width: 1176px;
  }
  @media (min-width: 1400px) {
    // max-width: 1280px;
    max-width: 1380px;
  }
  @media (min-width: 1600px) {
    max-width: 1600px;
  }
  // @media (min-width: 1200px) {
  //   max-width: 96%;
  // }
}

// components
.btn {
  display: inline-block;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: normal;
  line-height: 120%;
  color: var(--black);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  text-transform: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #ffffff;
  transition: 0.4s ease;
  &-white {
    background-color: #ffffff;
    &:hover {
      background-color: var(--blue);
      border-color: var(--blue);
      color: #ffffff;
    }
    &:focus:active {
      background-color: rgba(17, 118, 234, 0.4);
      border-color: rgba(17, 118, 234, 0.4);
      color: rgba(255, 255, 255, 0.85);
    }
  }
  &-blue {
    background-color: var(--blue);
    border-color: var(--blue);
    color: #ffffff;
    &:hover {
      background-color: var(--black);
      border-color: var(--black);
      color: #ffffff;
    }
    &:focus:active {
      background-color: rgba(17, 118, 234, 0.4);
      border-color: rgba(17, 118, 234, 0.4);
      color: rgba(255, 255, 255, 0.85);
    }
  }
  &-grey {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #585a60;
    &:hover {
      background-color: var(--black);
      border-color: var(--black);
      color: #ffffff;
    }
    &:focus:active {
      background-color: rgba(88, 90, 96, 0.4);
      border-color: rgba(88, 90, 96, 0.4);
      color: rgba(255, 255, 255, 0.85);
    }
  }
  &-outline {
    &-primary {
      background-color: transparent;
      color: var(--blue);
      border: 1px solid var(--blue);
      &:hover {
        background-color: var(--blue);
        border-color: var(--blue);
        color: #ffffff;
      }
      &:focus:active {
        background-color: rgba(17, 118, 234, 0.4);
        border-color: rgba(17, 118, 234, 0.4);
        color: rgba(255, 255, 255, 0.85);
      }
    }
  }
}
