// vendor
@import '../../src/scss/vendor/swiper-bundle.min.css';
@import '../../src/scss/vendor/normalize.css';

// vars
@import './variables';

// fonts
@font-face {
  font-family: 'Geologica';
  src: url('../../assets/fonts/Geologica-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('../../assets/fonts/Geologica-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('../../assets/fonts/Geologica-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('../../assets/fonts/Geologica-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('../../assets/fonts/Geologica-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  src: url('../../assets/fonts/Geologica-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'stomatfakel2024';
  src: url('../../assets/fonts/stomatfakel2024.eot');
  src: url('../../assets/fonts/stomatfakel2024.eot?#iefix')
      format('embedded-opentype'),
    url('../../assets/fonts/stomatfakel2024.woff') format('woff'),
    url('../../assets/fonts/stomatfakel2024.ttf') format('truetype'),
    url('../../assets/fonts/stomatfakel2024.svg#stomatfakel2024') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'stomatfakel2024' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'stomatfakel2024' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: '\61';
}
.icon-arrow-up:before {
  content: '\62';
}
.icon-phone:before {
  content: '\63';
}
.icon-success:before {
  content: '\64';
}
.icon-location:before {
  content: '\65';
}
.icon-list-1:before {
  content: '\67';
}
.icon-burger:before {
  content: '\66';
}
.icon-service-icon-1:before {
  content: '\68';
}
.icon-service-icon-1-1:before {
  content: '\69';
}

// swiper global styles
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background-color: #e2dede;
  transition: 0.4s ease;
}
.swiper-pagination-bullet-active {
  width: 49.2px;
  height: 12px;
  background-color: var(--blue);
}

// layouts
@import './layouts/header';
@import './layouts/nav';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

body {
  font-family: 'Geologica';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #585a60;
  background-color: #ffffff;
}

.menu-open {
  position: static;
  pointer-events: fill;
  touch-action: none;
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: clip;
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  padding: calc(var(--header-height) + (var(--header-padding-y) * 2)) 0;
  margin-top: calc(-1 * (var(--header-height) * 2));
}

.section {
  contain: layout;
}

.wow {
  visibility: hidden;
}

#mysprite {
  display: none;
}
